/* Replace with Tailwind CSS styles */
.formInput {
    display: flex;
    flex-direction: column;
    width: 280px;
  }
  
  .inputAuth {
    padding: 11px;
    margin: 10px 0px;
    border-radius: 5px;
    border: 1px solid gray;
    &.focused {
      border: 1px solid red;
    }
    &.invalid {
      border: 1px solid red;
    }
  }
  
  .spanAuth {
    font-size: 10px;
    padding: 1px;
    color: red;
    display: none;
  }
  