.video_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 120px;
  z-index: 2;
 }
 
 .player__wrapper {
  position: relative;
 }
 
 .player {
  border: 2px solid #35bbe3;
  object-fit: cover;
  padding: 0;
  margin: 0;
 }
 .control_Container {
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  flex-direction: column;
  z-index: 1;
  display: flex;
  justify-content: space-between;
 }
 
 .top_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 20px;
 }
 
 .mid__container {
  display: flex;
  justify-content: center;
  align-items: center;
 }
 
 .icon__btn {
  padding: 0 10px;
  color: #35bbe3;
 }
 
 .slider__container {
   width: 100%; 
  display: flex;
  align-items: center;
  padding: 0 16px;
 }
 
 .control__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
 }
 
 .inner__controls {
  display: flex;
  padding: 10px 0;
  align-items: center;
  width: 50%;
 }
 
 .spano {
  color: #35bbe3;
  font-size: 0.8rem;
  margin-left: 10px;
 }
 
 .second__control {
  display: flex;
  align-items: center;
 }

/* Add styles for quality and speed options */
.quality__speed {
  position: absolute;
  bottom: 10px;
  right: 10px; /* Adjust this value to control the right offset */
  display: flex;
  align-items: center;
}

.quality,
.speed {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.quality label,
.speed label {
  color: #35bbe3;
  font-size: 1rem;
  margin-right: 5px;
}

/* Style the select elements */
.quality select,
.speed select {
  background-color: rgba(0, 0, 0, 0.6);
  border: 2px solid #35bbe3;
  color: #35bbe3;
  padding: 5px;
  border-radius: 4px;
}

/* Style the select arrow icon */
.quality select::-ms-expand,
.speed select::-ms-expand {
  display: none;
}

/* Style select options */
.quality select option,
.speed select option {
  background-color: rgba(0, 0, 0, 0.6);
  color: #35bbe3;
}

.container {
  width: 90vw;
  display: grid;
  grid-template-columns: 1.8fr 1.2fr;
  gap: 1rem;
  padding: .5rem 1rem;
  text-transform: capitalize;
}

.video-playlist .title {
  padding-left: .5rem;
}

.video-playlist > p {

  color: var(--secondary);
}

.video-playlist .videos{
  height: 70%;
  overflow-y: auto;
}

.video-playlist .videos::-webkit-scrollbar {
  width: .4rem;
  border-radius: .4rem;
  background-color: #0005;
}

.video-playlist .videos::-webkit-scrollbar-thumb {
  border-radius: .4rem;
  background-color: #3a3a3a;
}

.video-playlist .videos .video {
  position: relative;
  width: 100%;
  height: 4rem;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0 1rem;
  margin-top: .1rem;
  cursor: pointer;

  border-radius: .5rem;
}

.video-playlist .videos .video:hover {
  background-color: #0003;
}

.video-playlist .videos .video.active {
  background-color: #0003;
  color: var(--secondary);
}
.video p {
  margin-left: 2.5rem;
}

.video h3 {
   width: 15rem;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;

   font: 100 1rem sans-serif;
   padding: 0 .5rem;
}


.comments {
  margin-top: 20px;
}

.comments-title {
  font-size: 30px;
  margin-bottom: 20px;
}

.comments-container {
  margin-top: 40px;
}

.comment-form-title {
  font-size: 22px;
}

.comment-form-textarea {
  width: 100%;
  height: 80px;
  margin-bottom: 8px;
  margin-top: 8px;
  border: 1px solid rgb(107, 114, 12);
}

.comment-form-button {
  font-size: 16px;
  padding: 8px 16px;
  background: rgb(59, 130, 246);
  border-radius: 8px;
  color: white;
}

.comment-form-button:hover:enabled {
  cursor: pointer;
  background: rgb(37, 99, 235);
}

.comment-form-button:disabled {
  opacity: 0.7;
  cursor: default;
}

.comment-form-cancel-button {
  margin-left: 10px;
}

.comment {
  display: flex;
  margin-bottom: 28px;
}

.comment-image-container {
  margin-right: 12px;
}

.comment-image-container img {
  border-radius: 50px;
}

.comment-right-part {
  width: 100%;
}

.comment-content {
  display: flex;
}

.comment-author {
  margin-right: 8px;
  font-size: 20px;
  color: rgb(59, 130, 246);
}

.comment-text {
  font-size: 18px;
}

.comment-actions {
  display: flex;
  font-size: 12px;
  color: rgb(51, 51, 51);
  cursor: pointer;
  margin-top: 8px;
}

.comment-action {
  margin-right: 8px;
}

.comment-action:hover {
  text-decoration: underline;
}

.replies {
  margin-top: 20px;
}