.free-course {
  background-color: rgb(252, 243, 224);
  padding: 4.4rem 4.4rem;
  max-width: 1450px;
  margin: 0 auto;
  border-radius: 2rem;
}

.card-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 -0.5rem;
}

.single__free__course {
  flex: 0 0 calc(25% - 1rem);
  margin: 0.5rem;
  text-align: center;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease, transform 1s ease;
}

.single__free__course.show-card {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1.5s ease, transform 1.5s ease;
}

.animate {
  opacity: 1;
  animation: slideInFromLeft 1.5s ease;
}

/* Add animation delay for each card */
.animate:nth-child(1) {
  animation-delay: 0.1s;
}

.animate:nth-child(2) {
  animation-delay: 0.2s;
}

.animate:nth-child(3) {
  animation-delay: 0.3s;
}

.animate:nth-child(4) {
  animation-delay: 0.4s;
}

/* Add animation delay for each card */
@for $i from 1 through 4 { /* Adjust '4' based on the number of cards you have */
  .animate:nth-child(#{$i}) {
    animation-delay: 0.1s * $i;
  }
}

.single__free__course .free__course__details {
  position: relative;
}

.single__free__course .free__course__details .d-flex {
  position: relative;
}

.single__free__course .free__course__details .d-flex .icon {
  position: absolute;
  left: -10px;
  top: -2px;
}

.single__free__course .free__course__img {
  position: relative;
}

.single__free__course .free__course__img img {
  border-radius: 10px;
  max-width: 100%;
  height: auto;
}

.single__free__course .free__btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 4px 15px !important;
  font-size: 0.8rem;
}

.single__free__course .free__course__details h6 {
  font-weight: 600;
  line-height: 1.8rem;
  margin-top: 1rem;
  font-size: 1rem;
}

/* Media query for medium screens */
@media (max-width: 992px) {
  .single__free__course {
    flex: 0 0 calc(50% - 1rem);
  }
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
