.company-container {
    display: flex;
    align-items: center;
    padding: 12px;
    border-left: 4px solid lightblue;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
  }
  
  .company-square {
    width: 40px;
    height: 40px;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    border-radius: 4px;
  }
  
  .company-square-text {
    font-weight: bold;
    color: white;
    font-size: 14px;
  }
  
  .company-name {
    display: flex;
    align-items: center;
  }
  